Package: com.charlieleung.pbwallpapercompat
Name: PBWallpaper iOS 16 Compatibility
Version: 1.0.8
Architecture: iphoneos-arm64e
Description: iOS 16 renderer compatibility layer for PBWallpaper resources
Maintainer: local
Author: local
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
